# Custom ---------------------------------------------------------------

# ----------------------------------------------------------------------
# Default index.php redirect
# ----------------------------------------------------------------------

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1

